*
{
  margin: 0;
  padding: 0;
  /* color: black */
}

body
{
  background-color: #121212;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parent
{
  height: 450px;
  width: 350px;
  background-color: #111318;
  border-radius: 30px;
  margin: 20px;
  padding: 10px;
  /* border: 1px solid black; */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);

}
.card
{
  height: 96%;
  width:100%;
  max-width: 320px;
  border-radius: 25px;
  margin  : 10px;
  /* background-color: pink; */
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  /* padding: 20px; */
  color:#FFFFFF;
}

.top
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid hsl(0, 0%, 70%);
}

.top img
{
  height: 50px;
  /* width: 100%; */
  border-radius: 50%;
  object-fit: cover;
  
}

.tags
{
  width: 65%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
  /* padding: 20px; */
}

#tag
{
  background-color: #1E293B;
  color: #CBD5E1;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 12px;
}

button
{
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#time
{
  font-size: 12px;
  color: hsl(0, 0%, 70%);
}

#save
{
  display: flex;
  align-items: center;
  gap: 8px;
}

.bot p{
  font-weight: bold;
  font-size: 16px;
  color: hsl(0, 0%, 70%);
}

.Bbox
{
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

